# Unity 生成的文件和文件夹
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Unity3D 生成的元数据
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D 生成的崩溃报告
sysinfo.txt

# 构建产物
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics 生成的文件
crashlytics-build.properties

# Visual Studio 生成的文件
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# Visual Studio Code 生成的文件
.vscode/

# OS 生成的文件
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# 其他常见的临时文件
*.log
*.tmp
*.temp 